body, * {
  font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
  font-size: 1.4em;
}

h1 {
  font-size: 2.4rem;
  margin: 2em 0 3em;
  text-align: center;
  font-weight: bold;
}

footer {
  &, a {
    color: $footer-font;
    font-size: .8rem;
  }
  text-align: right;
  margin: 2em 0 1em;
}
